
#start {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    margin-top: 100px; /* Ajoute un espace au-dessus pour centrer verticalement */
}

/* Style du bouton */
#start button {
    background-color: #2575fc; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 8px; /* Coins arrondis */
    padding: 15px 30px; /* Espacement intérieur */
    font-size: 1.2em; /* Taille du texte */
    cursor: pointer; /* Changement de curseur */
    transition: background-color 0.3s ease, transform 0.2s; /* Transition pour l'effet au survol */
    margin-bottom: 50px;
}

/* Effet au survol du bouton */
#start button:hover {
    background-color: #6a11cb; /* Changement de couleur au survol */
    transform: scale(1.05); /* Légère augmentation de taille au survol */
}

#start form {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #e0eafc, #cfdef3); /* Dégradé léger */
    border: 1px solid #eaeaea; /* Bordure légère */
    margin: 20px; /* Marge autour de la section */
    border-radius: 15px; /* Coins arrondis */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Ombre légère */
    display: block;
}

#startGameForm {
    display: block;
}
